<h2>Check out this list of things to do</h2>


<%= link_to('(+) Add Activity', new_activity_path(@activity)) %>

<% @activities.each do |activity| %>
  <li>
    <%= link_to activity.title, activity_path(activity) %>
    <%= link_to '(edit)', edit_activity_path(activity) %>
  </li>
<% end %>
