# Ignore log files
log/*.log

# Ignore server PID files
tmp/pids/*.pid

# Ignore temporary cache files
tmp/cache/

# Ignore public assets
public/assets/

# Ignore key
config/master.key
config/credentials.yml.enc