/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
}

 body{
   background: rgb(0, 255, 204);
 }

#header{
  font-size: 15px;
  margin: 20px 20px 20px 90px;
  font-weight: bolder;
}

#header a{
  text-decoration: none;
  color: black;
}

#header a:hover{
  border-bottom: 6px solid orange;
  border-radius: 3px;
}

nav{
  font-family: 'Handlee', cursive;
  background: white;
  margin: -2%;
  display: block;
}

nav ul{
  display: block;
}

nav ul li{
  list-style: none;
  display: inline-block;
}

.sign{
  float: right;
  margin: 20px 60px 20px 20px;
}

.sign a{
  text-decoration: none;
  font-size: 10px;
  color: black;
  font-weight: bold;
}

.sign a:hover{
  border-bottom: 6px solid orange;
  border-radius: 3px;
}

.welcome{
  margin: 10%;
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
}

#live{
  background: white;
  border: 10px;
  display: block;
  margin: 0 20% 0 20%;
}

#live a{
  text-decoration: none;
  color: black;
}

#live:hover{
  background: orange;
}

/* welcome page end */

.activities{
  border: .5px solid gray;
  background: white;
  padding: 5px;
  max-width: 500px;
  margin-left: 25%;
  text-align: center;
}

.activelist{
  border: .3px solid gray;
  padding: 7px;
  border-radius: 3px;
}

.activelist a{
  text-decoration: none;
  color: black;
}
